{%load static%}
{%load topTag%}
{%load topUserAt%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main Page</title>
        <link href="{%static 'css/Style.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
<div class = "header">
    <div class="sitename">
        <div class="askme"><a href="{% url 'main'%}" class="mainpage">AskMe</a></div>
    </div>
    <div class="searchbar">
        <form class="search-form">
            <p>
                <input type="search" name="q" placeholder="Найти" class="searchb" maxlength="100">
            </p>
        </form>
    </div>
    <div class="askbut">
        <form action="{%url 'ask'%}">
            <button type="submit" class="ask">ASK!</button>
        </form>
    </div>
    {%if request.user.is_authenticated%}
    <div class="avatar">
        <label class="ava">
            <img src="{{request.user.profile.avatar.url}}"  alt="Fail to load" class="avapic">
        </label>
    </div>
    <div class="foruser">
        <div class="nickname">{{request.user.profile.nickname}}</div>
        <div class="settings">
            <a href="{%url 'edit'%}" name="setting">Настройки</a>
            <a href="{%url 'logout'%}" name="lo">Выйти</a>
        </div>
        
    </div>
    {%else%}
    <div class="loginreg">
<a href="{%url 'login'%}" class="loginr">Login</a>
<a href="{%url 'signup'%}" class="regr">Registration</a>
    </div>
    {%endif%}
   </div>
    <hr class="horizontal-gradient">
<div class="container">
    <div class="content">
        {% block content %}
        {% endblock %}
        {%include 'pagination.html'%}
    </div>
    <div class="sidebar">
       <div class="tops">
        <div class="toptags"><p class="pt">Popular Tags</p>
            <div class="firsttag">{{0|topTagAt}}</div>
            <div class="secondtag">{{1|topTagAt}}</div>
            <div class="thirdtag">{{2|topTagAt}}</div>
            <div class="fourthtag">{{3|topTagAt}}</div>
            <div class="fifthtag">{{4|topTagAt}}</div>
        </div>
        <div class="topusers">
            <p class="tu">Top Users</p>
                <div class="firstuser">{{0|topUserAt}}</div>
                <div class="seconduser">{{1|topUserAt}}</div>
                <div class="thirduser">{{2|topUserAt}}</div>
                <div class="fourthuser">{{3|topUserAt}}</div>
                <div class="fifthuser">{{4|topUserAt}}</div>
                
        
       </div>
   
    </div>
</div>
</div>
<div class="footer"></div>
    </body>
    <script src ="{%static 'js/jquery.js' %}"></script>
    <script src ="{%static 'js/main.js' %}"></script>
</html>
