{% extends 'base.html' %}
{%load ratingQ%}
{%load static%}
   {%block content%}
   
        <div class="qlisting">
            <h2 class="nque">{{pagename}}</h2>
            <a href="{%url link%}"class="hots">{{linkname}}</a>
            
            <ul class="list">
                {%for i in page_obj%}
                <li class="fragment">
            <div class="question"><div class="left"><img src="{%static 'img/default_ava.jpg'%}" class="qava"><div class="card"><button class="incdecbut">-</button><p id="root" class="showcount">{{i|ratingQ}}</p><button class="incdecbut">+</button>
            </div>
            
        </div>
        <div class="right">
            <a href="{%url 'questions' i.id%}" class="topic">{{i.title}}</a>
            <p class="descriptionq">{{i.description}}</p>
            <div class="ansandtags"><a href="{%url 'questions' i.id%}" class="ans">answer({{i.answer_set.count}})</a><div class="qtags"><p >Tags:</p>
                {%for t in i.tag.all%}
                <a href="{%url 'tag' t%}">{{t}}&nbsp</a>
                {%endfor%}
            </div></div>
        </div>
        </div>
        </li>
        {%endfor%}
       </ul>
    </div>
      
 
        
   {%endblock%}