{% extends 'base.html' %}
{%load static%}
{%load ratingA%}
{%load ratingQ%}
{%block content%}
        <div class="questionblock">
            <div class="bigquestion"><div class="left"><img src="{%static 'img/default_ava.jpg' %}" class="qava">
                <div class="card"><button class="decbut_q">-</button><p id="root" data-id="{{que.id}}" class="showcount">{{que|ratingQ}}</p><button data-id="{{que.id}}" class="incbut_q">+</button>
            </div>
            
        </div>
        <div class="right">
            <p  class="topic">{{que.title}}</p>
            <p class="descriptionq">{{que.description}}</p>
            <div class="bansandtags"><div class="qtags"><p >Tags:</p>
                {%for q in que.tag.all%}
                <a href="{%url 'tag' q%}">{{q}}&nbsp</a>
                {%endfor%}
            
            </div></div>
        </div>
        </div>

        </div>
        <div class="ansblock">

            <ul class="list1">
                {% for i in page_obj %}
                <li class="fragment1">
            <div class="answer"><div class="left"><img src="{%static 'img/default_ava.jpg' %}" class="qava"><div class="card"><button data-id="{{i.id}}" class="decbut_a">-</button><p id="root" class="showcount">{{i|ratingA}}</p><button data-id="{{i.id}}" class="incbut_a">+</button>
            </div>
            
        </div>
        <div class="right">
            <p class="nick">{{i.authorId.nickname}}</p>
            <p class="answer_t">{{i.txt}}</p>
            <div class="checkboxgood"><form>
                {%if i.isRight is True%}
                <input checked class="correct" data-id="{{i.id}}" id="correct_a" type="checkbox" isChecked="{{i.isRight}}">
                {%else%}
                <input class="correct"  data-id="{{i.id}}" id="correct_a" type="checkbox">
                {%endif%}
                <label for="correct_a">Correct!

                </label>
            </form>
        </div>
        </div>

        </div>
                </li>
                {%endfor%}
            </ul>
        </div>
        {%if request.user.is_authenticated%}
        <div class="yourans"><form class="ansfrom" method="POST" action="{%url 'questions' id=que.id%}?page={{page_obj.number}}">
            {%csrf_token%}
            <div class="allf"><textarea name="anstxt"  class="atxt" placeholder="answer" required maxlength="1000"></textarea></div>
           <div class="ansbut"> <input type="submit" value="Answer" class="goans"></div>
        
    </form></div> {%endif%}
    {%endblock%}
