{% block pagination %}    
<div class="pagination1">
    {%if page_obj.has_previous%}
    <a href="?page={{page_obj.previous_page_number}}" >&NestedLessLess;</a>
    {%endif%}
    {%for p in page_obj.paginator.page_range%}
    {%if page_obj.number == p%}
    <a href="?page={{p}}" class="pgnum1">{{p}}</a>
    {%elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
    <a href="?page={{p}}">{{p}}</a>
    {%endif%}
    {%endfor%}
    {%if page_obj.has_next%}
    <a href="?page={{page_obj.next_page_number}}" >&NestedGreaterGreater;</a>
    {%endif%}
</div> 
{% endblock %}